@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #dbd2c2;

}

.logo {
    margin-left: 30px;
    aspect-ratio: 35/4;
    padding: 0.4rem;
}

.logo a {
    text-decoration: none;
    color: #f9f7f0;
    font-size: 20px;
}
.logo span {
    color: #ee5527;
}


.logo{
    color: #4d4d4d;
    font-size: 30px;
    font-weight: 800;
}

.logo span {
    color: #e67300;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}
  
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
  
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #4d4d4d;
}
  
fieldset:last-of-type {
    border-bottom: none;
}
  
label {
    display: block;
    margin: 0.5rem 0;
}
  
input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
  
input, textarea {
    background-color: #ede7d9;
    border: 1px solid #0a0a23;
    color: #0a0a23;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
  
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color:#ede7d9;
    border-color: #f9f7f0;
    min-width: 300px;
    border-radius: 25px;
    color: #0a0a23;
}
  
input[type="file"] {
    padding: 1px 2px;
}
  